<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.nodeclipse.debug.launch.LaunchConfigurationType">
<stringAttribute key="attr_node_arguments" value="--debug"/>
<stringAttribute key="attr_program_arguments" value="generate-xpdsc -i file-input -o file-output"/>
<stringAttribute key="key_file_path" value="/xcdl-js/bin/xcdl-js-cli.js"/>
</launchConfiguration>
